# add to sudo crontab -e
0 12 * * * cd /my/dir/script && /usr/local/bin/python3 script.py
15 * * * * cd /my/dir/script && /usr/local/bin/python3 /sps30_collect_data.py
3 18 * * 6 cd /my/dir/script && /usr/local/bin/python3 /sps30_sensor_clean.py
