# this is an example file and the cd /path/... needs to be change to match your local setup
#USING PYTHON VENV: Don't activate the env, but use the python installed in it...
#/home/ubuntu/scripts/venv/bin/python3
# add to sudo crontab -e

*/5 * * * * cd /home/pi/IoT-Microservice/app/ && ./sps30_collect_data.py
3 18 * * 6 cd /home/pi/IoT-Microservice/app/ && ./sps30_sensor_clean.py
# blank line needed att end of file to function properly
